build/
bin/
data/

# Mac
.DS_Store

# https://github.com/github/gitignore/blob/master/C.gitignore
# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo
!lib/*.lib
!lib/*.a
!lib/*.la
!lib/*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
!lib/*.dll
!lib/*.so
!lib/*.so.*
!lib/*.dylib


# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex